
<div class="jumbotron">
    <h1 class="display-4"><%= t('home.welcome')%></h1>
    <p class="lead"><%= t('home.description')%></p>
    <hr class="my-4">
    <p><%= t('home.instruction')%></p>
<%= render 'menu' %>
</div>